@import url("https://fonts.googleapis.com/css2?family=Jeju+Myeongjo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alatsi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Road+Rage&display=swap");

*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
body{
      width: 100%;
      height: 100vh;
}
.finalTicket {
      background: none;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 80%;
      max-width: 620px;
      top: 27%;
      color: #fafafa;
    }
.content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      background:none;
      height: max-content;
      padding: 20px;
      font-style: normal;
      text-align: center;
      font-family: 'Roboto';
    }
.content p{
      margin-top: 11px;
      font-size: 0.8rem;
      font-weight: 100;
      letter-spacing: 0.2px;
      line-height: 150%;
}
.content .ticket{
     margin-top: 30px;
}
.content .detail{

      /* display: flex;
      flex-direction: row;
      align-items: center; */
      padding: 14px;

      background: rgba(3, 30, 33, 0.1);
      border: 1px solid #24A0B5;
      backdrop-filter: blur(2px);
      border-radius: 16px;
      width: 260px;
      height: 446px;
      position: absolute;
      top: 120px;
}

.content .barCode{
      margin-top: -90px;
}

.content .sectionTitleOg{

      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      gap: 8px;
      
      height: 110px;
      width: 100%;
      position: relative;
      top: 20px;
}
.sectionTitleOg h1 {
      position: relative;
      top: -16px;
      font-family: "Road Rage";
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      text-align: center;
      line-height: 100%;
    
      color: #fafafa;
    }
    
.sectionTitleOg p {
      position: relative;
      font-size: 0.67rem;
      top: -16px;
      width: 150px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 100;
      text-align: center;
      margin-top: -3px;
    }
.detail .userImg{
    
box-sizing: border-box;

width: 140px;
height: 140px;

border: 4px solid rgba(36, 160, 181, 0.5);
border-radius: 12px;
background-size: cover;
object-fit: cover;
object-position: center;
}

.detail .userData{

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 4px;
      margin-top: 8px;
      
      border: 1px solid #133D44;
      border-radius: 8px;
}
.detail .userData .secOne{

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 100%;
height: 45px;

border-bottom: 1px solid #12464E;


}
.detail .userData .secOne .username{

box-sizing: border-box;
position: relative;
top: -5px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 4px;
gap: 4px;

width: 100%;
height: 45px;

border-right: 1px solid #12464E;


}
.detail .userData p{

height: 15px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;

line-height: 150%;

color: #FFFFFF;

opacity: 0.33;

}
.userData h1{

height: 18px;
font-size: 0.7rem;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
line-height: 150%;

color: #FFFFFF;

}
.userData .secOne .email{
      position: relative;
      top: -5px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 4px;
gap: 4px;

width: 100%;
height: 45px;


}


.detail .userData .secTwo{

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 100%;
height: 45px;

border-bottom: 1px solid #12464E;


}
.secTwo h1{
      font-size: 400;
}
.detail .userData .secTwo .ticketType{

box-sizing: border-box;

position: relative;
top: -4px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 4px;
gap: 4px;

width: 100%;
height: 45px;

border-right: 1px solid #12464E;


}
.detail .userData .secTwo .ticketNumber{
      position: relative;
      top: 4px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 4px;
gap: 4px;

width: 100%;
height: 45px;


}
.detail .userData .secThree{

      position: relative;
      top: -10px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 8px;
gap: 4px;

width: 100%;
/* height: 60px;/ */


}
.secThree h1{
font-weight: 300;
text-align: left;
}
